/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Merriweather:wght@400;700&display=swap");

/* Color Scheme */
:root {
  --primary-color: #333333;
  --secondary-color: #555555;
  --accent-color: #444444;
  --footer-link-color: #fac5c5;
  --text-color: #f1f1f1;
  --section-background-color: #fff;
  --body-background-color: #f4f4f4;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--body-background-color);
  width: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: "Merriweather", serif;
}

section {
  padding: 2rem;
  margin: 1rem;
  background-color: var(--section-background-color);
  border-radius: 8px;
}

#map {
  margin-top: 20px;
}

.section-h2 {
  text-align: center;
  color: var(--primary-color);
}

/* header start */

.nav-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--primary-color);
  position: relative;
  width: 100%;
  color: var(--text-color);
  padding: 20px 0;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.home-nav li {
  margin: 0 10px;
}

.company-name {
  font-size: 1.5rem;
  font-weight: bold;
}

nav {
  flex-grow: 1;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 10px;
  text-align: center;
}

nav ul li a {
  color: var(--text-color);
  text-decoration: none;
}
.menu-toggle {
  display: none;
  background: var(--accent-color);
  color: var(--text-color);
  border: none;
  font-size: 24px;
  cursor: pointer;
  margin-left: 10px;
}

/* header end */

/* hero start */
.hero {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--section-background-color);
  text-align: center;
  margin-top: 70px;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity here */
  z-index: 1;
}
.hero h1,
.hero p {
  position: relative;
  z-index: 2;
}
.hero h1 {
  font-size: 4rem;
  margin: 0;
}
.hero p {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.contact-hero {
  background-image: url("../images/cantact-hero.jpeg");
}

.home-hero {
  background-image: url("../images/home-hero.jpeg");
}

.booking-hero {
  background-image: url("../images/booking-hero.jpeg");
}

.listing-hero {
  background-image: url("../images/listing-hero.jpeg");
}
/* hero end */

/* about start */

#about {
  background-color: var(--section-background-color);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 2rem auto;
}

#about h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--primary-color);
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.about-text {
  flex: 1;
  min-width: 300px;
}

.about-text p {
  margin-bottom: 1rem;
  color: var(--secondary-color);
}

.about-image {
  flex: 1;
  min-width: 300px;
  text-align: center;
}

.about-image img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* about end */

/* featured cars and special offers start */

.featured-cars {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: var(--section-background-color);
}
.car {
  text-align: center;
  background: var(--section-background-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 45%;
}
.car img {
  width: 100%;
  border-radius: 10px;
}
.car p {
  font-size: 1.2rem;
  color: var(--primary-color);
  margin: 10px 0;
}
.special-offers {
  margin-top: 20px;
  text-align: center;
}
.offer {
  margin: 10px 0;
  font-size: 1.2rem;
  color: var(--primary-color);
}

/* featured cars and special offers end */

/* reviews start */

.reviews-container {
  width: 100%;
  height: 600px;
  position: relative;
}

.my-reviews {
  position: relative;
}
.reviews {
  display: flex;
  overflow: hidden; /* Changed from wrap to hidden */
  transition: transform 0.5s ease-in-out;
}

.review {
  top: 0;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--section-background-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.review img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.review h3 {
  margin: 10px 0;
}

.review p {
  font-size: 1rem;
  color: var(--primary-color);
}

.scroll-buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  transform: translateY(-50%);
  z-index: 10; /* Ensure buttons are on top */
}

.scroll-button {
  background: rgba(0, 0, 0, 0.1);
  color: var(--primary-color);
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 11; /* Ensure buttons are clickable */
}

/* reviews end */

/* start booking form */

#booking {
  background-color: var(--section-background-color);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 2rem auto;
}

#booking h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--primary-color);
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--secondary-color);
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #555;
}

/* end booking form */

/* booking search start */
#search-bookings {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: var(--section-background-color);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#search-bookings h2 {
  text-align: center;
}

#search-bookings input {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

#search-bookings button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: auto;
  margin-right: auto;
}

#search-results {
  margin-top: 20px;
  padding: 10px;
  background: var(--section-background-color);
  border: 1px solid #ccc;
  border-radius: 5px;
}

.booking-card {
  background: var(--section-background-color);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin: 10px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.booking-card h3 {
  margin-top: 0;
  color: var(--primary-color);
}

.booking-card p {
  margin: 5px 0;
  color: var(--secondary-color);
}

.booking-card p strong {
  color: #000;
}
/* booking search end */

/* contact form start */

#contact {
  background-color: var(--section-background-color);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 2rem auto;
}

#contact h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--primary-color);
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--secondary-color);
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-group textarea {
  height: 150px;
  resize: vertical;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background-color: var(--primary-color);
  color: var(--section-background-color);
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: var(--secondary-color);
}

/* contact form end */

/* footer start*/

footer {
  background: var(--primary-color);
  color: var(--text-color);
  text-align: center;
  padding: 20px 0;
  width: 100%;
}

footer a {
  color: var(--footer-link-color);
}

/* footer end */

/* universal classes */
.hidden {
  display: none;
}

/* mobile responsive css start*/

@media (max-width: 768px) {
  /* nav start */
  header {
    width: 100%;
    min-width: 200px;
  }

  .hero {
    width: 100%;
    margin-top: 0;
  }

  .nav-control {
    flex-direction: column;
    position: relative;
    width: 100%;
    min-width: 200px;
  }

  #nav-container,
  .home-nav {
    position: absolute;
    top: 100%;
    z-index: 10;
    background-color: var(--accent-color);
    width: 100%;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  nav ul.show {
    display: flex;
  }

  nav ul li {
    padding: 10px 0;
    z-index: 11;
  }

  .menu-toggle {
    display: block;
  }

  /* nav end */

  /* about start */

  .about-content {
    flex-direction: column;
  }

  /* about end */

  /* featured-cars and special-offers start*/
  .featured-cars,
  .special-offers {
    flex-direction: column;
  }

  .featured-cars {
    justify-content: space-around;
    width: 100%;
    padding: 0%;
  }

  .car {
    width: 90%;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    min-width: 200px;
    padding: 10px;
  }

  /* featured-cars and special-offers end*/

  /* reviews start */
  .scroll-buttons {
    position: absolute;
    top: 30%;
    justify-content: space-between;
  }
  .scroll-button {
    background: transparent;
    color: var(--accent-color);
    font-size: 24px;
    padding: 0;
  }

  .scroll-hide {
    display: none;
  }
  .scroll-button#prev::before {
    content: "<<<";
  }

  .scroll-button#next::before {
    content: ">>>";
  }

  /* reviews end */

  /* start about */
  .about-content {
    text-align: center;
  }

  .about-text {
    width: 100%;
    min-width: 200px;
  }

  .about-image {
    width: 100%;
    min-width: 200px;
  }

  .about-image img {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    min-width: 200px;
  }

  /* end about */

  /* footer start */
  #footer {
    width: 100%;
    padding: 10px 0%;
  }

  /* footer end */
}
/* mobile responsive css start*/

/* big screen start */

@media (min-width: 768px) {
  /* nav start */

  .menu-toggle {
    display: none;
  }

  .nav-control {
    padding: 10px;
    justify-content: space-between;
    position: fixed;
    z-index: 12;
    top: 0%;
  }

  nav,
  #navbar ul {
    width: fit-content;
  }

  #navbar ul li {
    padding: 10px;
  }

  /* nav end */
}

/* big screen end */
